<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
    <header th:replace="fragments/header"></header>
    <section class="container">
        <div>
            <h1 th:text="${title}"></h1>

            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
            </svg>

            <input class="bg-gray-50 outline-none ml-1 block " type="text" name="" id="" placeholder="search...">
        </div>
        <div class="lg:ml-40 ml-10 space-x-8">
            <button class="bg-indigo-600 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer">New Report</button>
            <button class="bg-indigo-600 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer">Create</button>
        </div>

        <div>
            <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">

                    <table>
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Edad</th>
                            <th>País de Origen</th>
                            <th>Estudios</th>
                            <th>Dirección</th>
                            <th>Promoción</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="coder: ${coders}">
                            <th scope="row" th:text="${coder.id}"></th>
                            <td th:text="${coder.nombre}"></td>
                            <td th:text="${coder.apellido}"></td>
                            <td th:text="${coder.edad}"></td>
                            <td th:text="${coder.pais_origen}"></td>
                            <td th:text="${coder.estudios}"></td>
                            <td th:text="${coder.direccion}"></td>
                            <td th:text="${coder.promocion}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between          ">
                        <span class="text-xs xs:text-sm text-gray-900">Showing 1 to 4 of 50 Entries</span>
                        <div class="inline-flex mt-2 xs:mt-0">
                            <button class="text-sm text-indigo-50 transition duration-150 hover:bg-indigo-500 bg-indigo-600 font-semibold py-2 px-4 rounded-l">Prev</button>
                                        &nbsp; &nbsp;
                            <button class="text-sm text-indigo-50 transition duration-150 hover:bg-indigo-500 bg-indigo-600 font-semibold py-2 px-4 rounded-r">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="fragments/footer"></footer>
</body>
</html>